* {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: black;*/
	width: 100%;
  transition: top 0.3s;
}

a {
  text-decoration: none;
}

.main {
  z-index: -1;
}

#personal_info {
  display: block;
  width: 100%;
  overflow: hidden;
}

.pinfo_mobile {
  display: none;
}
/*.top_menu {
  display: none; 
}*/


.white_block {
  width: 90%;
  overflow: hidden;
  float: left;
  height: 417px;
  background-color: #262626;
  /*z-index: -1;*/
}

button#personalBtn {
  text-decoration: none;
  position: relative;
  top: 179px;
  left: 480px;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  background-color: #262626;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  transition: border ease-in-out 2s;
}

button#personalBtn:hover {
  border-left: 15px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  transition: border ease-in-out 2s;
}

/* @keyframes nameDetail {
  from{right: auto;}
  to{right: -212px;}
} */

/* button#personalBtn::after {
  content: "Click For Detail";
  position: absolute;
  right: auto;
  text-transform: uppercase;
  transition: right ease-in-out 2s;
  display: none;
} */

p.pafter {
  float: left;
  position: absolute;
  top: 203px;
  left: 690px;
  color: white;
  display: none;
  transition: left ease-in-out 2s;
  overflow: hidden;
}

button#personalBtn:hover .pafter {
  overflow: hidden;
  display: inline-block;
  left: 175px;
  transition: left ease-in-out 2s;
}

.white_block p {
    position: relative;
    top: 220px;
    left: 490px;
    color: #5b66f5;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase
}

.white_block p span {
    color: #c5c3c3;
    font-size: 19px;
}

.p_info {
  width: 50%;
  float: left;
}

.me_image {
  width: 10%;
  float: left;
  box-shadow: inset 0px 0px 11px 0px rgb(0 0 0 / 60%);
  /*box-shadow: -10px 2px 10px #626060;*/
}

.me_image img {
  width: 310px;
}

ul.right_navbar {
    text-align: center;
}

ul.right_navbar li {
    list-style-type: none;
    /*background-color: #edebeb;*/
    padding: 60px 0px;
    /*border-radius: 73px;*/
    /*margin: 10px;*/
    /*box-shadow: 2px 3px 8px #c1bcbc;*/
}

ul.right_navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    color: #545454;
}



#skill {
    /* The image used */
  background-image: url("images/black_skill_bg.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
} */

.skill_text {
    text-align: center;
    position: relative;
    /* top: 240px; */
    background-color: #3e3d3d80;
    padding: 241px 0px;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px black;
}

.skill_text a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 20px;
}

.skill_text a:hover {
  background: #dbd0d0f2;
  color: #2b2a2a;
  transition: color ease-in-out 2s;
  border: 2px solid #d02a2abd;
}  

#education {
  transition: margin-left .5s;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 2px 2px 25px #8b8787;
}

#education p {
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color: #2a2a2a;
    padding: 40px 0 10px 0;
}

.edu ul li {
    list-style-type: none;
    float: left;
    padding: 10px 230px;
    text-align: left;
    font-family: sans-serif;
}

.edu {
    padding-bottom: 90px;
}

.underline {
    border: 3px solid #2f1d6a;
    width: 20px;
}

.project_p {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 30px 0px 10px 0px;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 15px;
}

.p_underline {
    border: 3px solid white;
    margin: auto;
    width: 72px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: block;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #262626;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}


.layout1 {
	background-color: #7445e5d9;
	width: 100%;
	padding: 150px 0px;
	opacity: 0.9;
}

.center_btn {
    /* float: left; */
     width: 31%; 
    overflow: hidden;
    margin: auto;
}

.center_btn ul li {
	float: left;
    list-style-type: none;
    padding: 0px 20px;
    color: white;
    font-size: x-large;
    text-transform: lowercase;
    margin: 0px 5px;
}

.center_btn ul li:hover {
	/*border: 1px outset #fffefe;*/
	transition: border 0.5s;
}

div#social {
    /* margin-top: 30px; */
    background-color: white;
    padding: 20px;
    overflow: hidden;
    /* width: 100%; */
}

.social_part {
    float: left;
    font-size: 20px;
    /* padding: 0px 10px 0px 10px; */
}

.designed_by {
    float: right;
}

.designed_by span {
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.designed_by a {
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* Skill Modal Box  */

.mySkill {
  width: 100%;
  color: white;
  font-family: sans-serif;
}
.mySkill h4 {
  text-align: center;
  letter-spacing: 6px;
  font-size: 21px;
  padding: 0px 0px 25px 0px;
  text-transform: uppercase;
}
.dScience, .erp{
  width: 100%;
  overflow: hidden;
}
.erp {
  padding-top: 30px;
}
.npSkill, .mpSkill, .pandasSkill, .statSkill, .pySkill {
  width: 50%;
  float: left;
}
.npSkill p, .mpSkill p, .pandasSkill p, .statSkill p, .pySkill p {
  padding: 15px 0px;
  letter-spacing: 2px;
}
.erpLeft, .erpRight {
  width: 50%;
  float: left;
}
.qwebReport, .birtReport {
  width: 100%;
  float: left;
  padding-bottom: 15px;
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.numpy {width: 50%; background-color: #5ba7ffa1;}
.mat {width: 50%; background-color: #5ba7ffa1;}
.pandas {width: 40%; background-color: #f13a3aa1;}
.statistics {width: 30%; background-color: #ff5252ba;}
.python {width: 90%; background-color: #73f9b2a1;}
.qweb {width: 50%; background-color: #5ba7ffa1;}
.birt {width: 30%; background-color: #ff5252ba;}

.odooSkill {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 9rem;
  margin:1.5rem;
  border: 1.2rem solid white;
  box-shadow: inset 0 0 7px grey;
  border-left-color: palegreen;
  border-top-color:palegreen ;
  border-right-color: palegreen;
  border-bottom-color: white ;
  text-align: center;
  box-sizing: border-box;
}
.bLogicSkill {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 9rem;
  margin:1.5rem;
  border: 1.2rem solid white;
  box-shadow: inset 0 0 7px grey;
  border-left-color: #989efb;
  border-top-color: #989efb ;
  border-right-color: white;
  border-bottom-color: white ;
  text-align: center;
  box-sizing: border-box;
}
.odooSkill:nth-child(2) {
  border-top-color:chartreuse ;
  border-right-color: white;
  border-left-color: palegreen;
  border-bottom-color: white;
}
.odooSkill .odoo-values, .bLogicSkill .blogic-values {
  top: 40px;
  position: absolute;
  left: 10px;
  right: 0;
  font-weight: 700;
  font-size: 2.0rem;
}
.odooSkill .odoo-labels, .bLogicSkill .blogic-labels{
  left: 0;
  bottom: -50px;
  /* text-shadow: 0 0 4px grey; */
  color: white;
  position: absolute;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
}
.erpRight h5 {
  font-size: 18px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.qwebReport p, .birtReport p {
  padding-bottom: 20px;
  text-align: right;
  font-weight: bold;
}
.otherSkill {
  padding-top: 80px;
  text-align: left;
}
.otherSkill h4 {
  text-align: left;
  letter-spacing: 2px;
}
.otherSkill table {
  width: 100%;
}
.otherSkill table tr td:nth-child(1){
  text-transform: uppercase;
}

/* End Of Skill Modal Box  */



                                  /* Projects Layout */
div#projects {
    margin-top: 35px;
    box-shadow: 1px -5px 70px #870800;
    background-color: #262626;
    padding-bottom: 25px;
}
 /* Style the tab */
 .tab {
  overflow: hidden;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f7f7f7;
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
} 
.pj1, .pj2, .pj3, .pj4 {
  overflow: hidden;
  width: 20%;
  float: left;
  padding: 10px 25px;
}
.pj1 a img, .pj2 a img, .pj3 a img, .pj4 a img {
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}
.pj1 h5, .pj2 h5, .pj3 h5, .pj4 h5   {
  color: white;
  text-align: center;
  text-transform: uppercase;
}


                                  /* End Of Projects Layout */

                                  /*LAYOUTS DESIGNING*/

/* The Modal (background) */
.personalModal, .skillModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1c1c1c;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  box-shadow: 2px 2px 10px #444444;
  /*border: 1px solid #888;*/
  width: 80%; /* Could be more or less, depending on screen size */
}

.personal_information {
  overflow: hidden;
}

.personal_information img {
  width: 40%;
  float: left;
  padding-right: 15px;
}

.pcontent {
    color: #c7c7c7;
    font-family: sans-serif;
}

.pcontent span {
    float: left;
    padding: 0px 10px 0px 0px;
    font-size: 25px;
    color: #1aa150;
}

.introc {
  text-align: justify;
  padding: 6px 20px;
  font-family: system-ui;
}

.introc span {
  font-size: 10px;
}

.introc p {
  padding-top: 20px;
  line-height: 25px;
}

.my_things table {
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui;
}

.my_things table tr, td {
  padding: 10px;
  color: white;
}

.eh {
  padding: 25px 0px;
}

.eh h3 {
  color: white;
  padding: 20px 0px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 21px;
}

.experience {
  font-family: system-ui;
}

.experience table tr td {
  padding: 0px 212px 10px 22px;
  text-align: right;
}

.experience table tr td h5 {
  font-size: 18px;
  font-weight: 500;
}

.respon, .pjList, .achieve {
  color: #c7c7c7;
}

.respon h5, .pjList h5, .achieve h5 {
  font-size: 19px;
  text-transform: uppercase;
  padding: 15px 0px;
}

.respon ul, .pjList ul, .achieve ul {
  padding: 0px 16px;
  line-height: 25px;
}

hr.break_line {
  border: 1px solid white;
  margin: 30px;
  width: 520px;
  float: right;
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span#close {
    float: right;
    color: white;
}
                                  /*END OF LAYOUTS DESIGNING*/




@media only screen and (max-device-width: 1000px) {

  .white_block_mobile {
    background-color: #262626;
    padding: 105px;
    z-index: -1;
  }
  .wb_text {
    align-items: center;
  }
  .wb_text a {
    text-decoration: none;
    /* position: relative; */
    /* top: 179px; */
    /* left: 480px; */
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
  }
  .wb_text p {
    position: relative;
    top: 15px;
    left: 7px;
    color: #5b66f5;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

  .wb_text p span {
    color: #c5c3c3;
  }

  #personal_info {
    display: none;
  }
  .pinfo_mobile {
    display: block;
    overflow: hidden;
  }
  .top_menu {
    width: 100%;
    background-color: #000000bf;
    overflow: hidden;
    /* height: 200px; */
    position: fixed;
    top: 0px;
    z-index: 100;
  }
  .nav_lists li {
    list-style-type: none;
    float: left;
    padding: 20px 29px;
  }
  .nav_lists li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .white_block{
    width: 100%;
  }
  button#personalBtn {
    top: 0px;
    left: 15px;
    font-size: 15px;
    padding: 16px;
  }
  #skill {
    background-attachment: scroll;
    background-size: initial;
  }
  .edu ul li {
    padding: 10px 5px;
  }
  .me_image {
    display: none;
  }


                  /* PERSONAL MODAL BOX MOBILE */
  .personal_information{
    padding: 20px 0px;
  }
  .personal_information img {
    width: 100%;
  }
  .pcontent{
    padding: 20px 0px;
    overflow: hidden;
  }
  .introc {
    padding: 0xp;
  }
  .introc h2 {
    font-size: 21px;
  }
  .my_things table tr, td {
    padding: 8px;
  }
  .experience table tr td {
    padding: 0px 27px 10px 0px;
    text-align: unset;
  }
  hr.break_line {
    width: 270px;
    float: none;
  }
                  /* END OF PERSONAL MODAL BOX MOBILE */
}
/* 
@media only screen and (max-device-width: 700px) {
  .nav_lists li {
    padding: 20px 78px;
  }
  .wb_text a {
    position: relative;
    left: 160px;
  }
  .wb_text p {
    left: 166px;
  }
} */