/* Home */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-mainbg{
	background-color: #151616;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #151616;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
/* End Of Home */

.logo_img {
    width: 3em;
}
#icon_nav li {
    text-align: center;
}
#icon_nav li i {
    font-size: 2em;
    display: block;
}
#design_area .icon {
    display: none;
}

.tab_content, .side_nav_1{
    float: left;
}


.drag-area {
  height: 200px;
  width: 260px;
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
}
.drag-area .icon {
  font-size: 50px;
  color: #1683ff;
}
.drag-area .header {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.drag-area .support {
  font-size: 12px;
  color: white;
  margin: 10px 0 15px 0;
}
.drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}
.drag-area.active {
  border: 2px solid #1683ff;
}
.drag-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.image-container {
  float: left;
}*/

/* The side navigation menu */
.tab_content {
    height: 40.7em; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4d4e4f; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .tab_content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .tab_content a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .tab_content .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .design_search, .elements_search, .text_search {
    margin: 0 1em;
    height: 2em;
    border-radius: 0.5em;
    border: 0px;
  }

  .tab_content img.img-fluid {
    padding: 1em;
  }

  .cover_layout_bg {
    padding: 85px 0px;
  }

  #cover_layout {
    margin: auto;
    width: 30%;
    background-color: #efefef;
    height: 480px;
    box-shadow: 1px 10px 25px #b1afafd1;
    /* padding-top: 20px; */
}

  #fontDesign {
    color: white;
    padding: 20px;
  }

  .toolbar {
    /* border-bottom: 10px solid #e5dede;
    border-radius: 15px;
    box-shadow: 0px 13px 20px #bdb8b8; */
    position: relative;
  }

  .cover-tools {
    position: absolute;
    background: #4d4e4f;
    top: 18px;
    /* bottom: 20px; */
    z-index: 1;
    overflow: visible;
    width: 100%;
    height: 46px;
    box-shadow: inset 0px 5px 1px #7b7b7b;
    border-radius: 6px;
  }

  .toolbar #draw, #eraser {
    background-color: transparent;
    border: none;
    padding-right: 4em;
  }

  .toolbar #draw i{
    transform: rotate(135deg);
    color: white;
    font-size: 3em;
    transition: ease-out 15s;
  }

  .toolbar #eraser i {
    transform: rotate(315deg);
    color: white;
    font-size: 3em;
    transition: ease-out 15s;
  }

  .toolbar #draw i:hover, #eraser i:hover {
    position: absolute;
    top: -10px;
    transition: ease-out 15s;
}

#Draw label {
    color: white;
    padding-left: 4px;
    padding-right: 2em;
    float: left;
}

#Draw input {
    float: left;
}

@media screen and (max-width: 600px) {
    .log_img{
        width: 2em;
    }
    #icon_nav nav {
        display: none;
    }
    #design_area a.icon {
      text-align: center;
      display: block;
      font-size: 2em;
      color: #484848;
    }
  }
@media screen and (max-width: 600px) {
    .side_nav_1.responsive nav {
        position: relative;
        display: block !important;
    }
  }